
.navbar-brand img {
    height: 30px; 
    object-fit: contain; 
  }
  .container{
    max-width: 780px;
  }
  .navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 17px;
  }
  
  .nav-item {
    flex: 1;
    text-align: center;
  }
  .navbar{
    margin-left: 18%;
    margin-right: 18%;
  }
  @media screen and (max-width: 992px) {
    .navbar{
      margin-left: 0;
      margin-right: 0;
      display: flex;
    }
    .navbar-brand{
        align-items: center;
    }
  }
    
  