
.navbar-brand img {
    height: 35px; 
    object-fit: fill;
    width: 100px;
  }
  .container{
    max-width: 780px;
    position: fixed;
  }
  .navbar-nav {
    display: flex;
    justify-content: right;
    width: 100%;
    font-size: 17px;
  }
  
  .nav-item {
    padding-right: 2%;
    text-align: center;
    white-space: nowrap;
  }
  .navbar-nav .nav-link.active{
    color: white;
  }
  .nav-item a{
    color: white;
  }
  .nav-link:hover{
    scale: 1.1;
    color: white;
  }
  .navbar{
    backdrop-filter: blur(10px);
  }
  @media screen and (max-width: 992px) {
    .navbar{
      margin-left: 0;
      margin-right: 0;
      display: flex;
    }
    .navbar-brand{
        align-items: center;
    }
  }
    
  