.navbar {
    padding: 10px;
  }
  
  .navbar-brand {
    padding: 0 10px;
  
  }
  
  .navbar-nav {
    padding: 10px;
  }
  
  .nav-link {
    padding: 5px 10px;
  }

.navbar-brand img {
    height: 50px; 
    object-fit: contain; 
  }