@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.596),rgba(0, 0, 0, 0.55)),url(../../Assets/images/alain-pham-P_qvsF7Yodw-unsplash.jpg);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 9% 0 5% 8%;
    font-family: Oswald;

}
.mid{
    padding-top: 20px;
    color: aliceblue;
    min-height: 450px;
    max-width: 1050px;
    border: solid 3px white;
}
.heading{
    padding: 30px;
    font-size: 110px;
}
.span{
    margin-left: 30px;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke: 1px;
}
.subheading{
    padding-left:30px;
    font-weight: 100;
    font-size: 25px;
    
}