@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.homebody{
    background-image: linear-gradient(rgba(0, 0, 0, 0.596),rgba(0, 0, 0, 0.55)),url(../../Assets/images/alain-pham-P_qvsF7Yodw-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 150px 5% 5% 5%;
    font-family: Oswald;

}
.mid{
    padding: 20px 20px 20px 0px;
   
    max-height: 650px;
    max-width: 1150px;
    border: solid 3px rgba(255, 255, 255, 0.621);
}
.heading1{
    padding: 30px;
    font-size: 7em;
}
.span1{
    margin-left: 30px;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke: 1px;
}
.subheading{
    padding-left:30px;
    font-weight: 100;
    font-size: 25px;
    
}